@font-face {
  font-family: 'Russo One';
  src: url("/fonts/RussoOneRegular.ttf") format("truetype");
  src: url("/fonts/RussoOneRegular.ttf") format("truetype"), url("/fonts/RussoOneRegular.woff2") format("woff2"), url("/fonts/RussoOneRegular.eot") format("embedded-opentype"), url("/fonts/RussoOneRegular.woff") format("woff"), url("/fonts/RussoOneRegular.svg#RussoOneRegular") format("svg");
}

@font-face {
  font-family: 'Lobster';
  src: url("/fonts/LobsterRegular.ttf") format("truetype");
  src: url("/fonts/LobsterRegular.ttf") format("truetype"), url("/fonts/LobsterRegular.woff2") format("woff2"), url("/fonts/LobsterRegular.eot") format("embedded-opentype"), url("/fonts/LobsterRegular.woff") format("woff"), url("/fonts/LobsterRegular.svg#LobsterRegular") format("svg");
}

@font-face {
  font-family: 'Anton';
  src: url("/fonts/AntonRegular.ttf") format("truetype");
  src: url("/fonts/AntonRegular.ttf") format("truetype"), url("/fonts/AntonRegular.woff2") format("woff2"), url("/fonts/AntonRegular.eot") format("embedded-opentype"), url("/fonts/AntonRegular.woff") format("woff"), url("/fonts/AntonRegular.svg#AntonRegular") format("svg");
}

@font-face {
  font-family: 'Oxygen';
  src: url("/fonts/OxygenRegular.ttf") format("truetype");
  src: url("/fonts/OxygenRegular.ttf") format("truetype"), url("/fonts/OxygenRegular.woff2") format("woff2"), url("/fonts/OxygenRegular.eot") format("embedded-opentype"), url("/fonts/OxygenRegular.woff") format("woff"), url("/fonts/OxygenRegular.svg#OxygenRegular") format("svg");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #d2ff52;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #d92e2e));
  background: -webkit-gradient(linear, left top, left bottom, from(#d2ff52), to(#d92e2e));
  background: linear-gradient(to bottom, #d2ff52 0%, #d92e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#d92e2e', GradientType=0 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-login__title {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 0 35px 0;
}

.main-login__section-title {
  font-size: 2.4em;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 25px;
}

.main-login {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  padding: 70px 100px;
}

.main-login__section-login {
  grid-column: 1 / 2;
}

.main-login__section-register {
  grid-column: 2 / 3;
}

label {
  display: block;
  margin: 10px 0 10px 0;
  font-size: 1.4em;
  font-family: "Oxygen", sans-serif;
}

input:not([type=checkbox]) {
  padding: 0.6em;
  border: 0;
  background-color: #2E2E2E;
  color: #fff;
  width: 400px;
}

input:not([type=checkbox]) {
  outline: none;
  background-color: #2E2E2E;
  color: #fff;
}

.form-remember-label {
  margin: 10px 0 0 0;
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 1em;
}

button {
  display: block;
  margin-top: 10px;
  border: 0;
  padding: 10px;
  background-color: #2E2E2E;
  color: #fff;
}

@media only screen and (max-width: 1090px) {
  .main-login {
    padding: 50px 40px;
  }

  .main-login__section-login {
    grid-column: 1 / 3;
    margin-bottom: 80px;
  }

  .main-login__section-register {
    grid-column: 1 / 3;
  }

  input:not([type=checkbox]) {
    width: 100%;
  }
}

