.settings-box, .profile-box {
    @extend .saved-list-box;
}

.form {
    margin:15px 0 0 0;
}

.form__label {
    font-family: 'Oxygen', sans-serif;
	color:$primary-font-color;
	font-size:1.1em;
	width:220px;
    display:inline-block;
}

.form__label--description {
    @extend .form__label;
    font-size:0.8em;
    display:block;
    margin:10px 0 0 0;
    color:#d1d1d1;
}

.form__text, .form__select, .form__checkbox {
    margin:0 0 0 100px;
}

.form__text {
	outline:none;
	color:$box-font-color;
	border:0;
	padding:10px;
	background-color:#333;
	width:350px;
	position: relative;
}

.form__select {
    outline:none;
    padding:10px;
    background-color:#C9C9C9;
	border:1px solid #545454;
    width:350px;
    position: relative;
}

.form__submit {
	box-sizing:border-box;
	outline:none;
	color:#333;
	background-color:#C9C9C9;
	border:1px solid #545454;
	padding:10px;
    font-size:17px;
    margin:0 0 0 320px;
	width:130px;
	font-weight:bold;
	border-radius:2px;
}

.form__form-row {
	margin:5px 0 25px 0;
}

.header--fixed {
	position: fixed;
	z-index:2;
	border-bottom:5px solid #1B1B1B;
}

.header--fixed .header-menu__text {
	display:none;
}

.header--fixed .header-menu-link a {
	line-height:48px;
}

.header--fixed .title {
	font-size:1.65em;
}

.day-divider {
	border-radius:4px;
	background-color:#057c29;
	padding:20px;
	margin-bottom:12px;
}

.day-divider__date {
	margin-top:-4px;
	font-size:1.4em;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
}