.settings-box {
    @extend .saved-list-box;
}

.settings {
    margin:15px 0 0 0;
}

.settings__label {
    font-family: 'Oxygen', sans-serif;
	color:$primary-font-color;
	font-size:1.1em;
	width:220px;
    display:inline-block;
}

.settings__label--description {
    @extend .settings__label;
    font-size:0.8em;
    display:block;
    margin:10px 0 0 0;
    color:#d1d1d1;
}

.settings__text, .settings__select, .settings__checkbox {
    margin:0 0 0 100px;
}

.settings__text {
	outline:none;
	color:$box-font-color;
	border:0;
	padding:10px;
	background-color:#333;
	width:350px;
	position: relative;
}

.settings__select {
    outline:none;
    padding:10px;
    background-color:#C9C9C9;
	border:1px solid #545454;
    width:350px;
    position: relative;
}

.settings__submit {
	box-sizing:border-box;
	outline:none;
	color:#333;
	background-color:#C9C9C9;
	border:1px solid #545454;
	padding:10px;
    font-size:17px;
    margin:0 0 0 320px;
	width:130px;
	font-weight:bold;
	border-radius:2px;
}

.settings__form-row {
	margin:5px 0 25px 0;
}